@page
@model IndexModel
@{
    ViewData["Title"] = "Appvia";
}

<div class="text-center">
    <h1 class="display-4">.Net Experiment by ramm</h1>
    <h1 class="display-4">Hello MotivityLabs</h1>
    <p>Running @ViewData["Runtime"] on @ViewData["HostName"].</p>
</div>
